/* Section space-description */


.space-description {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 15px;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  
  }
}

.space-description__left-column {
  display: flex;
  flex-direction: column;
  max-width: 515px;
}

.space-description__heading {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #d0d6f9;
  padding-bottom: 24px;
}

.space-description__title {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  color: #ffffff;
  padding-bottom: 24px;
  margin: unset;
}

.space-description__paragraph {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  margin: unset;
}

/* Button */
.space-description__right-column {
  align-self: center;
  justify-self: center;
}

.space-description__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 247px;
  border-radius: 50%;
  position: relative;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #0b0d17;
  background: #ffffff;
}

.space-description__link:hover:after {
  position: absolute;
  content: "";
  display: block;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.1;
}
